<mjml>
  <mj-head>
    <mj-style>
      @font-face {
        font-family: "Helvetica Neue";
        font-style: normal;
        font-weight: 400;
        src: url("https://dorinela.ro/ConnectMedia/fonts/HelveticaNeue.woff2") format("woff2");
      }

      @font-face {
        font-family: "Helvetica Neue Light";
        font-style: normal;
        font-weight: 400;
        src: url("https://dorinela.ro/ConnectMedia/fonts/HelveticaNeue-Light.woff2") format("woff2");
      }

      @media (max-width:480px) {
        .center-mobile div {
          text-align: center !important;
        }
      }
    </mj-style>
  </mj-head>
  <mj-body background-color="#ffffff">
    <mj-include path="./components/header.mjml" />
    <mj-include path="./components/section1.mjml" />

    <mj-wrapper padding="0px" background-url="https://dorinela.ro/ConnectMedia/images/section2/section2-bg@4x.png" background-size="cover" background-repeat="no-repeat">
      <mj-include path="./components/section2.mjml" />
      <mj-include path="./components/section3.mjml" />
    </mj-wrapper>

    <mj-include path="./components/section4.mjml" />
    <mj-include path="./components/section5.mjml" />
    <mj-include path="./components/footer.mjml" />
  </mj-body>
</mjml>