<mj-wrapper padding="0 0 10px 0" background-url="https://dorinela.ro/ConnectMedia/images/footer@4x.png" vertical-align="middle" background-size="cover" background-repeat="no-repeat">
  <mj-section padding="0 0 100px 0">
    <mj-column>
      <mj-image href="https://www.connectmedia.ro/marketing-online-povestea-didactica-publishing-house-connect-media" src="https://dorinela.ro/ConnectMedia/images/button@2x.png" alt="VEZI CE AM FĂCUT FRUMOS!" width="250px" padding="10px 0"></mj-image>
    </mj-column>
  </mj-section>

  <mj-section padding="10px 0 0 0">
    <mj-column>
      <mj-text align="center" color="#ffffff">
        <p style="font-family:Helvetica Neue; font-size: 8px; padding-top: 10px;">Suntem și sociabili și ne poți găsi aici:</p>
      </mj-text>
    </mj-column>
  </mj-section>

  <mj-section padding="0px 0 20px 0">
    <mj-column>
      <mj-social padding="0px" icon-size="12px" mode="horizontal">
        <mj-social-element background-color="transparent" src="https://dorinela.ro/ConnectMedia/images/facebook@4x.png" name="facebook" href="https://www.facebook.com/ConnectMediaDigital/">
        </mj-social-element>
        <mj-social-element background-color="transparent" src="https://dorinela.ro/ConnectMedia/images/instagram@4x.png" name="instagram" href="https://www.instagram.com/connectmediadigital/?hl=en">
        </mj-social-element>
        <mj-social-element background-color="transparent" src="https://dorinela.ro/ConnectMedia/images/linkedin@4x.png" name="linkedin" href="https://www.linkedin.com/company/11810262">
        </mj-social-element>
      </mj-social>
    </mj-column>
  </mj-section>

</mj-wrapper>