<mj-section padding="0" full-width="full-width">
  <mj-column width="100%">
    <mj-image src="https://dorinela.ro/ConnectMedia/images/header@1x.png" alt="connect media" padding="0" srcset="https://dorinela.ro/ConnectMedia/images/header@1x.png 800w, https://dorinela.ro/ConnectMedia/images/header@2x.png 1600w, https://dorinela.ro/ConnectMedia/images/header@3x.png 2400w, https://dorinela.ro/ConnectMedia/images/header@4x.png 3200w"></mj-image>
  </mj-column>
</mj-section>
<mj-section>
  <mj-column>
    <mj-text align="left" padding="10px 55px" font-size="20px" color="#1B75BB" font-family="Helvetica Neue"><strong><i>Bună</i>&nbsp;&nbsp;PRENUME!</strong></mj-text>
  </mj-column>
</mj-section>