<mj-section padding="0">
  <mj-column width="50%">
    <mj-text padding="42px 0 0 0">
      <div style="background-color:#2E469D; font-size:16px; color:#ffffff; padding:0">
        <table cellpadding="0" border="0" cellspacing="0">
          <tr>
            <td>
              <div style="padding:21px 52px 18px 52px; font-size: 15px;">
                Vrei să știi care e
                misiunea aceasta?
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 80px;"> <img width="80" style="border: 0; display: block; outline: none; text-decoration: none; height: auto;  width: 80px; font-size: 13px;" src="https://dorinela.ro/ConnectMedia/images/section3/section31@4x.png"></img></td>
          </tr>
        </table>
      </div>
      <div style="background-color:#E6E6E6; font-size:16px; color:#2E469D; padding:0">
        <table cellpadding="0" border="0" cellspacing="0">
          <tr>
            <td style="vertical-align:bottom; width:20px;">
              <img width="20" style="border: 0; display: block; outline: none; text-decoration: none; height: auto;  width: 20px; font-size: 13px; padding-left:18px;" src="https://dorinela.ro/ConnectMedia/images/section3/section32@4x.png">
              </img>
            </td>
            <td>
              <div style="padding:28px 10px 20px 16px; font-size: 15px;">
                Vrei să afli ce am făcut
                pentru DPH
                (pentru prieteni și fani)?
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div style="background-color:#2E469D; font-size:16px; color:#ffffff; padding:0">
        <table cellpadding="0" border="0" cellspacing="0">
          <tr>
            <td style="vertical-align:bottom; width: 46px;">
              <img width="46" style="border: 0; display: block; outline: none; text-decoration: none; height: auto;  width: 46px; font-size: 13px;" src="https://dorinela.ro/ConnectMedia/images/section3/section33@4x.png">
              </img>
            </td>
            <td>
              <div style="padding:24px 0px 35px 8px; font-size: 15px;">
                Vrei să vezi cât de frumos
                merge un proiect când are
                o fundație solidă?
              </div>
            </td>
          </tr>
        </table>

      </div>
    </mj-text>
  </mj-column>
  <mj-column padding="0px" width="50%">
    <mj-image align="center" border="none" width="400px" padding-left="0px" padding-right="0px" padding-bottom="0px" padding-top="0" src="https://dorinela.ro/ConnectMedia/images/section3/section3-right@4x.png" alt="girl climbing stairs"></mj-image>
  </mj-column>
</mj-section>